/*==========================================================================
* Pricing Css
==========================================================================*/
.pricing__plan {
    &-btn {
        display: inline-flex;
        align-items: center;
        background: var(--color-3);
        border-radius: 50px;
        &-item {
            padding: 12px 35px;
            cursor: pointer;
            transition: 0.4s;
            h6 {
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
                transition: 0.4s;
            }
            &.active {
                background: var(--secondary-color);
                h6 {
                    color: var(--color-1);
                }
            }
            &:first-child {
                border-radius: 50px 0 0 50px;
            }
            &:last-child {
                border-radius: 0 50px 50px 0;
            }
        }
    }
    &-item {
        border-radius: 15px;
        padding: 40px;
        border: 1px solid var(--border-color-1);
        h5 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 24px;
        }
        h2 {
            span {
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            border-top: 1px solid var(--border-color-1);
            margin-top: 30px;
            padding-top: 25px;
            li {
                list-style: none;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 8px;
                &:last-child {
                    margin: 0;
                }
                i {
                    color: var(--primary-color-1);
                }
            }
        }
        .default_button {
            background: var(--primary-color-1);
            color: var(--text-white);
            i {
                background: var(--bg-white);
                color: var(--text-heading-color);
            }
            &:hover {
                background: var(--secondary-color);
                color: var(--color-1);
            }
        }
        &.active {
            background: var(--secondary-color);
            h2 span,
            p {
                color: var(--body-color);
            }
            h5,
            h2,
            ul li i,
            ul li {
                color: var(--color-1);
            }
            ul {
                border-color: rgba(var(--border-color-3), 0.1);
            }
            .default_button {
                background: var(--bg-white);
                color: var(--text-heading-color);
                i {
                    background: var(--primary-color-2);
                    color: var(--text-white);
                }
                &:hover {
                    background: var(--primary-color-1);
                    color: var(--text-white);
                    i {
                        background: var(--bg-white);
                        color: var(--text-heading-color);
                    }
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .pricing__plan-item {
        padding: 30px;
    }
}
