/*==========================================================================
* Process Css
==========================================================================*/
.process__area {
    &-title {
        max-width: 650px;
        margin: 0 auto;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &-item {
        border-top: 1px dashed var(--color-8);
        text-align: center;
        margin-top: 75px;
        span {
            align-items: center;
            justify-content: center;
            display: inline-flex;
            background: var(--color-3);
            font-size: 18px;
            line-height: 28px;
            color: var(--text-heading-color);
            width: 45px;
            height: 45px;
            transform: translateY(-22px);
            border-radius: 50px;
            transition: 0.4s;
        }
        &-area {
            border: 2px solid var(--bg-white);
            box-shadow: 0 0 60px rgba(0, 0, 0, 0.04);
            border-radius: 15px;
            padding: 40px 30px;
            transition: 0.4s;
            margin: 0 12.5px;
            border: 1px solid var(--border-color-1);
            margin-top: 38px;
            i {
                margin-bottom: 30px;
                display: inline-block;
                font-size: 50px;
                line-height: 0;
                color: var(--primary-color-1);
            }
            h5 {
                font-size: 24px;
                line-height: 34px;
            }
            p {
                margin: 15px 0px 0px 0px;
            }
        }
        &:hover {
            span {
                background: var(--secondary-color);
                color: var(--color-1);
            }
            .process__area-item-area {
                border-color: var(--primary-color-1);
            }
        }
    }
}
@media (max-width: 991px) {
    .process__area-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .process__area-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 470px) {
    .our__benefits-right-experience {
        min-width: initial;
        left: 10px;
    }
    .process__area-item-area {
        padding: 30px 25px;
        margin: 0;
        margin-top: 38px;
    }
}